<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>UIBackgroundModes</key>
<array>
    <string>audio</string>
</array>
<key>AVAudioSessionCategoryUsage</key>
<string>default</string>
	<key>CLIENT_ID</key>
	<string>428088769000-599nnd30u4228v4lfmka6u9iedqrva5q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428088769000-599nnd30u4228v4lfmka6u9iedqrva5q</string>
	<key>API_KEY</key>
	<string>AIzaSyBUL7Pk33g-gtQm409hQcwOa__2uLhMlp4</string>
	<key>GCM_SENDER_ID</key>
	<string>428088769000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zejnepajdynkyzy.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-to-do-list-687ef</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-to-do-list-687ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428088769000:ios:abc430d3c2728607ebcc5d</string>
</dict>
</plist>