<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428088769000-4f4r7e1f5k9ila4vp9gnokkik74gkh1l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428088769000-4f4r7e1f5k9ila4vp9gnokkik74gkh1l</string>
	<key>API_KEY</key>
	<string>AIzaSyBUL7Pk33g-gtQm409hQcwOa__2uLhMlp4</string>
	<key>GCM_SENDER_ID</key>
	<string>428088769000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>flutter-to-do-list-687ef</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-to-do-list-687ef.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428088769000:ios:09a0b6f813e387e8ebcc5d</string>
</dict>
</plist>